<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Top Ten Universities</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<style>
div{
    z-index:100;
        color:rgb(137, 158, 149);
        font-size:30px;
        font-weight:400;
        font-style: oblique;
        text-decoration: none;

}
</style>

<body>
  <% include partials/nav1.ejs%> 

      <hr>
    <h1>
          <em style="color:whitesmoke;">Top Ten Universities</em>
            </h1>
            <hr>
            <h2>
<ol type="1">
    <div>
    <li>Massachusetts Institute of Technology</li>
    <p>
        The Massachusetts Institute of Technology is a private engineering and research univesity
        base in Cambridge,Massachusetts.
    </p>
    <li>Stanford Univesity</li>
    <p>
            It is a private univesity based in Stanford California. The university is known for its
            wealth and proximity to silicon valley.
    </p>
    <li>Harvard University</li>
    <p>
        Havard is a private ivy league university in Cambridge Massachusetts. It is known for its coruses
        of bussiness and law.
    </p>
    <li>California Institue of Technology(CALTECH)</li>
    <p>
        Calltech is a private university in Pasadena,California. It is very well known for its courses of 
        engineering and natural sciences.
    </p>
    <li>University of Oxford</li>
    <p>
        The University of Oxford is located in Oxford,England. It is known to be the second oldest university in
        the world
    </p>
    <li>University of Cambridge</li>
    <p>
        It is a public research university in Cambridge,England. This university is very well known for its courses
        on literature.
    </p>
    <li>Eth Zurich</li>
    <p>
        Eth Zurich is located in the city of Zurich in Switzerland. This university is known for its courses on
        mathematics and engineering.
    </p>
    <li>Imperial College London</li>
    <p>
        The Imperial College of London is a public research university located in London. Best known for its 
        courses on science and medicine.
    </p>
    <li>University of Chicago</li>
    <p>
        The University of Chicago is a private research university in Illinois,Chicago. It is known for its 
        courses in medicine.
    </p>
    <li>University College London(UCL)</li>
    <p>
        UCL is sa private research university in London. It is one of the best multidisplinary university.
    </p>
</ol>
</div>


                            
</body>
</html>